{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":1,"scrollleft":0,"selection":{"start":{"row":27,"column":10},"end":{"row":27,"column":10},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":33,"state":"start","mode":"ace/mode/text"}},"timestamp":1571059113340,"hash":"2057d70ad5b637c06a08db2b310054c35ba35922"}